@import "tailwindcss";

@theme  {
  --color-primary: #30C88F;
  --color-secondary: #2D314D;
  --color-terciary: #9597A5;
  --color-gradient-start: #33D35E;
  --color-gradient-end: #2ab6d9
}

.gradient-bg {
  @apply bg-linear-30 from-gradient-start to-gradient-end
}